<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <!-- footer block -->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 pt-5 pb-4">
            <div class="container pt-md-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 footer-list-29">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+91(91) 673 4587</a></p>
                        <p class="mb-2">Email : <a href="mailto:info@eazyschool.com">info@eeventmanagement.com</a></p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Quick Links</h6>
                            <li><a th:href="@{/events}">Events</a></li>
                            <li><a th:href="@{/contact}">Contact Us</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </footer>
    <!-- //footer block -->
</body>

</html>